

.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error p {
    color: red;
    margin: 0;
    font-size: 14px;
}

.formSummeryError {
    border: red 2px solid;
    padding: 5px;
    color: red;
}