.wrapperContent {
    height: 100%;
    grid-area: c;
    margin: 20px;
    padding: 20px;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    
  }

.loginContent{
    display: flex;
    flex-direction: row;
    
    
}
/* //////////////////////////////////////////////////////// */
.formControl.error small {
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
    margin: 0;
    font-size: 14px;
}
/* //////////////////////////////////////////////////////// */
.formItemContainer, .formItemContainerSpecial{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.formItemContainerSpecial input{
    display: inline;
}
.formItemContainer small{
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
    margin: 0;
    font-size: 14px;
}
.test input{
    padding: 10px;
    border: 2px solid royalblue;
    border-radius: 14px;
}
/* .test input[type="checkbox"]{
    display: inline-block;
} */
.loginContentFirstChild{
    flex-grow: 1;

    
}

.loginContentButton{
    margin:auto;
    padding: 14px 10px;
    background-color: royalblue ;
    border-radius: 14px;
    width: 100%;
    font-size: 24;
    font-weight: 600;
    color: white;
}

.loginContentFirstChild input{
    margin:20px auto;
    
    
}

.loginContentSecondChild{
    flex-grow: 1;
    text-align: center;
    /* align-self: center; */
}