body {
  margin: 0;
  background-color: #EDEEF0;
  position: relative;
}
.app-wrapper {
  width: 100%;
  /* position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px; */
  
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-navbar{
  
  grid-area: n;
  /* height: 100%; */

  
}
.app-wrapper-content {
  min-height: 850px;
  grid-area: c;
  /* margin: 20px;
  padding: 20px;
  border-radius: 1em;
  background-color: rgb(255, 255, 255); */
  
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
